<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../public/stylesheets/mainstyle.css">
</head>

<body>
    <h1 class="text-center">主頁 </h1>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12"><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;">HOME </a></div>
                        <div class="col-md-12"><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;">LOGIN </a></div>
                        <div class="col-md-12"><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;">REGISTER </a></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h1 class="text-center">這是主頁 </h1></div>
            </div>
        </div>
    </div>
    <div></div>
    <script src="../public/javascripts/jquery.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>