<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../public/stylesheets/poststyles.css">
</head>

<body>
    <h1 class="text-center">主頁 </h1>
    <div style="height:100%;">
        <div class="container" style="height:100%;">
            <div class="row" style="height:30%;">
                <div class="col-md-3">
                    <div><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;width:100%;text-align:center;margin-left:30%;">HOME </a></div>
                    <div><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;width:100%;text-align:center;margin-left:30%;">POST </a></div>
                    <div><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;width:100%;text-align:center;margin-left:30%;">LOGOUT </a></div>
                </div>
                <div class="col-md-9" style="height:30%;">
                    <div style="height:30%;">
                        <h4 style="margin-top:0;margin-bottom:0;">標題： </h4>
                        <input type="text">
                        <h4 style="margin-bottom:0;margin-top:0;">內文： </h4>
                        <textarea style="width:100%;height:500px;"></textarea>
                        <button class="btn btn-default" type="button">發表 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/javascripts/jquery.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/javascripts/bs-animation.js"></script>
</body>

</html>