<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../public/stylesheets/registerstyles.css">
</head>

<body>
    <h1 class="text-center">註冊 </h1>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;width:100%;text-align:center;margin-left:30%;">HOME </a></div>
                    <div><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;width:100%;text-align:center;margin-left:30%;">LOGIN </a></div>
                    <div><a href="#" data-bs-hover-animate="pulse" style="color:rgb(87,138,183);font-size:32px;width:100%;text-align:center;margin-left:30%;">REGISTER </a></div>
                </div>
                <div class="col-md-6">
                    <div><span>用戶名： </span>
                        <input type="text" data-bs-hover-animate="bounce">
                    </div>
                    <div><span>密碼： </span>
                        <input type="text" data-bs-hover-animate="bounce">
                    </div>
                    <div><span>確認密碼： </span>
                        <input type="text" data-bs-hover-animate="bounce">
                    </div>
                    <div><span>電子信箱： </span>
                        <input type="text" data-bs-hover-animate="bounce">
                    </div>
                    <div>
                        <button class="btn btn-default" type="button">註冊 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/javascripts/jquery.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/javascripts/bs-animation.js"></script>
</body>

</html>